VITE_API_URL=http://localhost:8000/api/v1
VITE_MEDIA_URL=http://localhost:8000
VITE_STRIPE_PUBLIC_KEY=pk_live_51RTjrSA5f2LCyCwnjzrXnkqTR9Xn2PZEXfizfoM4AyXpWQC0GqKbl7MWIoPXlcLXsvImXGqZl8iv81WGGQtjpbqm002XGSKtRn
VITE_APP_NAME=Cloth by AFS
